body{
font-family:Segoe UI;
background:linear-gradient(135deg,#1e3c72,#2a5298);
color:white;
padding:40px;
}

.card{
background:white;
color:#2c3e50;
padding:25px;
border-radius:15px;
margin-bottom:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

input,select{
width:100%;
padding:8px;
margin:6px 0;
}

button{
background:#27ae60;
color:white;
border:none;
padding:12px;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#219150;
}